OPENAI_BASE_URL=https://ark.cn-beijing.volces.com/api/v3
OPENAI_API_KEY=5d598585-d97c-40d6-9b39-d4032bb0334d
MONGODB_URI=mongodb://localhost:27017/chatbot
PORT=3000
NODE_ENV=development
MODEL=ep-20251202173843-kljmp
